HOST=https://thuvienso.io.vn
API_URL=https://thuvienso.io.vn/api
KEYCLOAK_TOKEN_URL=https://thuvienso.io.vn/realms/hung2004/protocol/openid-connect/token
DETECT_FACE_URL=https://thuvienso.io.vn/detect-face
